<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Details</title>
    <style>
      /* CSS styles */
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #232f3e; /* Dark blue background */
        color: #232f3e; /* White text color */
      }

      .container {
        max-width: 800px;
        margin: 50px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        color: #232f3e; /* Dark blue text color */
      }

      h1 {
        text-align: center;
        margin-bottom: 20px;
        color: #fff; /* White text color */
      }

      ul {
        list-style-type: none;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(
          auto-fit,
          minmax(250px, 1fr)
        ); /* Responsive grid */
        gap: 20px; /* Gap between columns */
      }

      li {
        border: 1px solid #fff; /* White border around each file details */
        border-radius: 8px; /* Border radius */
        padding: 20px; /* Padding for file details */
        background-color: #fff; /* White background */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow */
        color: #232f3e; /* Dark blue text color */
      }

      .image-class {
        width: 100%; /* Make image fill its container */
        height: 125px; /* Maintain aspect ratio */
        border-radius: 4px; /* Add border radius */
        margin-bottom: 10px; /* Add margin below the image */
      }

      h3 {
        margin-top: 20px;
      }

      .removeButton,
      .DownloadButton {
        display: block;
        width: 100%;
        padding: 8px 16px;
        margin-top: 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        text-align: center;
        background-color: #007bff; /* Blue color for buttons */
        color: #fff; /* White text color */
        transition: background-color 0.3s; /* Smooth transition on hover */
      }

      .removeButton:hover,
      .DownloadButton:hover {
        background-color: #0056b3; /* Darker blue color on hover */
      }
      .testing {
        text-align: center;
        margin-bottom: 20px;
        color: #fff; /* White text color */
        justify-content: center;
        align-items: center;
      }
      .logo{
        width: 100%; /* Make image fill its container */
        height: 90%; /* Maintain aspect ratio */
        border-radius: 4px; /* Add border radius */
      }
    </style>
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body style="margin: 10px; background-color: #232f3e">
    <h1>
      <a
        style="
          color: #232f3e;
          background-color: #fff;
          border-radius: 10px;
          padding-left: 10px;
          padding-right: 10px;
        "
        href="/folders"
      >
        List of Folders
        <img class="logo" src="../icons/AWS.svg" alt="AWS Logo" style="width: 70px" />
      </a>
    </h1>


    
    <div class="container">
      <ul id="fileList">
        <!-- <h1>File Details</h1> -->
        <% files.forEach(function(file) { %>
        <li>
          <% var fileExtension = file.Key.split('.').pop().toLowerCase(); %> <%
          if (['jpg', 'jpeg', 'png', 'gif'].includes(fileExtension)) { %>
          <img class="image-class" src="<%= file.DownloadUrl %>" alt="File Image" loading="lazy" />
          <% } else { %>
          <!-- Use icons for other file types -->
          <% if (fileExtension === 'pdf') { %>
          <img class="image-class" src="../icons/pdf.svg" alt="PDF Icon" loading="lazy" />
          <% } else if (fileExtension === 'doc' || fileExtension === 'docx') {
          %>
          <img class="image-class" src="../icons/doc.svg" alt="Document Icon" loading="lazy" />
          <% } else if (fileExtension === 'mp4' || fileExtension === 'mp4') { %>
          <img class="image-class" src="../icons/mp4.svg" alt="Document Icon" loading="lazy" />
          <% } else if (fileExtension === 'xls' || fileExtension === 'xlsx') {
          %>
          <img class="image-class" src="../icons/xls.svg" alt="Spreadsheet Icon" loading="lazy" />
          <% } else if (fileExtension === 'exe') { %>
          <img class="image-class" src="../icons/exe.svg" alt="Executable Icon" loading="lazy" />
          <% } else { %>
          <img class="image-class" src="../icons/default.svg" alt="Default Icon" loading="lazy" />
          <% } %> <% } %>
          <p><strong>File Name:</strong> <%= file.Key %></p>
          <p><strong>Last Modified:</strong> <%= file.LastModified %></p>
          <p><strong>Size:</strong> <%= file.Size %></p>
          <a class="DownloadButton" href="<%= file.DownloadUrl %>">Download</a>
          <button class="removeButton" data-key="<%= file.Key %>">
            Remove
          </button>
        </li>
        <% }); %>
      </ul>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
      function uploadbtn() {
        var input = document.getElementById("fileInput").files[0];
        var folderName = document.getElementById("folderName").value;
        if (!folderName.trim()) {
          alert("Please enter a folder name");
          return;
        }
        if (input) {
          uploadFile(input, folderName);
        }
      }

      function uploadFile(file, folderName) {
        var formData = new FormData();
        formData.append("file", file);
        formData.append("folderName", folderName);

        fetch("/upload", {
          method: "POST",
          body: formData,
        })
          .then((response) => {
            if (response.ok) {
              console.log("File uploaded successfully");
              location.reload();
            } else {
              console.error("Error uploading file");
            }
          })
          .catch((error) => {
            console.error("Error uploading file:", error);
          });
      }

      document.querySelectorAll(".removeButton").forEach(function (button) {
        button.addEventListener("click", function () {
          var key = this.getAttribute("data-key");
          if (confirm("Are you sure you want to remove this file?")) {
            removeFile(key);
          }
        });
      });

      function removeFile(key) {
        fetch("/remove", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ key: key }),
        })
          .then((response) => {
            if (response.ok) {
              console.log("File removed successfully");
              location.reload();
            } else {
              console.error("Error removing file");
            }
          })
          .catch((error) => {
            console.error("Error removing file:", error);
          });
      }
    </script>
  </body>
</html>
